section.fifth-segment{
    background-color: #0A2640;
    margin-bottom: 10%;
    width: 100%;
    margin-left: 0;
    
} 
.enterprise{
    font-family: 'Manrope', sans-serif;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px; 
    padding-top: 8%;
    padding-left: 10%; 
    width: 850px;
    justify-content: center;
    flex-shrink: 0;
}

.fifth-pic-container{
    vertical-align: top;
    padding-left: 5%;
}