section.fourth-segment{
    background-color: white;
    line-height: 0em;
}
section>div.content-woman{
    display: flex;
    margin-left: 8em;


}

.p-woman-content{
    line-height: 3em;
    margin-right: 8em;
}

.customer-connect-woman{
    font-family: 'Manrope', sans-serif;
    line-height: 60px;
    margin-top: 20%;
    margin-bottom: 8%;
    width: 493px;
    font-weight: 400;
    font-size: 36px;

}
.p-feather, .p-eye, .p-sun{
    font-family: 'Open Sans', sans-serif;
    flex-shrink: 0;
    
    font-weight: 600;
    line-height: 4em;
    font-style: normal;
    background-color: #0A2640;
}
.p-eye, .p-sun{
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.feather, .eye, .sun{
    margin-right: 5%;
}
.p-feather{
    color: white;
}
