section.fourth-segment{
    line-height: 0em;
    margin-top: 0;
}
section>div.content-woman{
    display: flex;
    margin-left: 8em;
    margin-bottom: 15%;


}

.p-woman-content{
    line-height: 3em;
    margin-right: 8em;
}

.customer-connect-woman{
    font-family: 'Manrope', sans-serif;
    line-height: 56px;
    margin-top: 20%;
    margin-bottom: 8%;
    width: 493px;
    font-weight: 400;
    font-size: 36px;

}
.p-feather, .p-eye, .p-sun{
    font-family: 'Open Sans', sans-serif;
    flex-shrink: 0;
    
    border-radius: 5px;
    font-weight: 600;
    line-height: 4.5em;
    font-style: normal;
    background-color: #0A2640;
}
.p-eye, .p-sun{
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 5px solid ghostwhite;
    margin-top: 5%;
}

.feather, .eye, .sun{
    margin-right: 5%;
    margin-left: 5%;
    
}
.p-feather{
    color: white;
}
