*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A2640;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 5%;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.end-section{
    word-spacing: 1em;
    background: transparent;
}
.end-section, button{
    font-family: 'Open Sans', sans-serif;
    
    
    font-weight: 600;
    line-height: 28px;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
   
      
}
.end-section a{
    text-decoration: none;
    color: #FFF;
   
}
button{
    border: 2px solid #FFF;
    border-radius: 15%;
    padding-top: 0.5%;
    padding-left: 1;
    color: #0A2640;
    background-color: #FFF;
    cursor: pointer;
}

p{
    color: #FFF;
}
.body-content{
    display: flex;
    align-items: center;
    height: 130vh;
    margin-left: 5%;
    margin-right: 5%;
}

.left-wordings{
   
}

.time-saving{
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    width: 580px;
}

.funding{
    font-family: 'Open Sans', sans-serif;
    color: var(--light-grey, #F1F1F1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    align-self: stretch;
}
button.buy{
    font-family: 'Open Sans', sans-serif;
    background: var(--green, #65E4A3);
    border: 2px solid #69E6A6;
    border-radius: 56px;
    padding: 16px 56px;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 700;
    
}
button.explore{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #FFF;
    border-radius: 56px;
    padding: 16px 56px;
    margin-top: 5%;
    line-height: 28px;
    background: #0A2640;
    color: #FFF;
    margin-left: 3%;
}