*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
main{
    background-color: #0A2640;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 40px 5%;
    margin-top: 2%;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.end-section{
    word-spacing: 1em;
    background: transparent;
}
.end-section, button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 28px;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
      
}
.end-section a{
    text-decoration: none;
    color: #FFF;
   
}
button.log-in{
    border: 2px solid #FFF;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    padding-top: 2%;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-left: 1;
    color: #0A2640;
    background-color: #FFF;
    cursor: pointer;
}

.body-content{
    display: flex;
    align-items: center;
    height: 130vh;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    background-color: #0A2640;
}

.left-wordings{
    width: 55%; 
}
.stat-chart{
   width: 40%;
}

.time-saving{
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    width: 550px;
    color: #FFF;
}

.funding{
    font-family: 'Open Sans', sans-serif;
    color: var(--light-grey, #F1F1F1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    align-self: stretch;
    width: 550px;
}
button.buy{
    font-family: 'Open Sans', sans-serif;
    background: var(--green, #65E4A3);
    border: 2px solid #69E6A6;
    border-radius: 56px;
    padding: 16px 56px;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 700;
    color: black;
    
}
button.explore{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #FFF;
    border-radius: 56px;
    padding: 16px 56px;
    margin-top: 5%;
    line-height: 28px;
    background: #0A2640;
    color: #FFF;
    margin-left: 3%;
}

.pseudo-footer-sec{
    background-color: rgb(136, 135, 135); 
    padding-bottom: 5%;

 
}
.boldo-logo {
    margin-right: 2.5%;
    margin-left: 5%;

}
 .pseudo-footer{
    margin-left: 5%;
    justify-content: space-around;
     
 }

.logo-text{
    font-family: 'Manrope', sans-serif; 
    color: #FFF;
    font-weight: 600;
    font-size: 45px;
    margin-left: 0.5%;
}
.frame-chart1{
    margin-bottom: 10%;
    width: 90%;
    background-color: rgb(136, 135, 135);
    margin-top: 2.5%;
    border-radius: 20px;
}
.frame-chart2{
    background-color: rgb(136, 135, 135);
    border: 2px solid rgb(136, 135, 135);
    border-radius: 20px;
    padding-top: 8%;
    padding-right: 2%;
    padding-left: 4%;
    padding-bottom: 4%;
}

.frame-chart3{
    background-color: rgb(136, 135, 135);
    border: 2px solid rgb(136, 135, 135);
    border-radius: 20px;
    padding-top: 8%;
    padding-right: 25%;
    padding-left: 4%;
    padding-bottom: 4%;
}