*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0A2640;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-logo{
    display: flex;
    margin-right: 10px;
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height: 30px;
    margin-right: 10px;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu li{
    margin-right: 10px;
}
.menu li:last-child{
    margin-right: auto;
}
.menu li a {
    text-decoration: none;
    color: white;
}
.login{
    margin-left: auto;
}
